{% extends 'base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block title %}

    {{ page_title }}

{% endblock %}

{% block content %}

    <a href="{% url 'addBook' %}" class="btn btn-primary">Add new book!</a>

    <a href="{% url 'addAuthor' %}" class="btn btn-primary">Add new author!</a>

	
    <br>
    <img src="/opt/bitnami/apps/django/django_projects/Project/Project/static/1.jpg" alt="hello">
    <br>
    <table class="table table-striped table-bordered">
        <tr>
            <th>Title</th>
            <th>Category</th>
            <th>Authors</th>
            <th>&nbsp;</th>
        </tr>

        {%  for book in books %}
        <tr>
            <td>{{ book.title }}</td>
            <td>{{ book.category }}</td>
            <td>

                {{    book.authors.all|join:', '}}

            </td>
            <td><a href="{% url 'editBook' pk=book.pk %}">{% bootstrap_icon 'edit' %}</a></td>

        </tr>
        {%  endfor %}


    </table>

    {% endblock %}