.page {
  width: 80%;
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
  background-color: #ffdf7b;
}

body {
  font: 16px/26px 'Open Sans', Helvetica, Arial, sans-serif;
  color: #454545;
  margin: 0px;
  padding: 0px;
}

header {
  padding: 2em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
}

blockquote {
  font: 1.4em/1em 'Gloria Hallelujah', cursive;
}

blockquote:before { content: '"'; }
blockquote:after { content: '"'; }

#headshot {
  margin: 0 auto;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  border-radius: 150px;
}

#bio {
  padding: 1em;
  text-align: left;
  border-top: 1px solid #454545;
}

#contact {
  padding: 1em;
  text-align: left;
  border-top: 1px solid #454545;
}

#social-icons { text-align: center; }
